<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title"><%= @book.title %></h1>
      <p class="card-text">Author: <%= @book.author %></p>
      <p class="card-text">ISBN: <%= @book.isbn %></p>
      <p class="card-text">Available: <%= @book.available ? 'Yes' : 'No' %></p>

      <%= link_to 'Back to Books', books_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
