<%= form_with(model: checkout, local: true) do |form| %>
  <% if checkout.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% checkout.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :book_id %>
    <%= form.collection_select :book_id, Book.all, :id, :title, { prompt: 'Select Book' }, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :patron_id %>
    <%= form.collection_select :patron_id, Patron.all, :id, :name, { prompt: 'Select Patron' }, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :checked_out_at %>
    <%= form.datetime_select :checked_out_at, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :due_date %>
    <%= form.datetime_select :due_date, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :returned_at %>
    <%= form.datetime_select :returned_at, class: 'form-control' %>
  </div>

  <%= form.submit 'Save', class: 'btn btn-primary' %>
<% end %>
